@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base page */

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: black;

  /* SNAP SCROLL (smooth premium feel) */
  scroll-snap-type: y proximity;

  /* Hide scrollbar everywhere */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Hide scrollbar Chrome / Safari */

body::-webkit-scrollbar {
  display: none;
}

/* Hide horizontal scroll bar also */

::-webkit-scrollbar {
  display: none;
}
.section-title-glow {
  @apply text-red-600 drop-shadow-[0_0_4px_rgba(255,0,0,0.45)] transition-all duration-300;
}
